
img {
    max-width: 100%;
    height: auto;
}


#head
	{
    width: 100%;
    float: left;
    background-image: url(../images/banner-bg.png);
    height: auto;
    background-size: 100%;
    padding: 10px 0px 25px 0px;
    background-repeat: no-repeat;
}

#logo {
    width: 42%;
    float: left;
}

#health_text{
	width: 100%;
    float: left;
    font-size: 60px;
    color: #15e4d0;
    font-weight: bold;
    line-height: 60px;
    padding-top: 120px;
}
#there_are_manay {
	    width: 100%;
    float: left;
    font-size: 16px;
    margin: 0px;
    color: #252525;
}
#button_main_div {
	width: 100%;
    float: left;
    margin-top: 30px;
}
#contact_button_div {
	width: 170px;
    float: left; 
}
#contact_button_a{
	    width: 100%;
    float: left;
    font-size: 18px;
    color: #f6f8f8;
    background-color: #4bc5b8;
    text-align: center;
    padding: 10px 0px;  
	text-decoration: none;
}
#get_button_div{
	    width: 170px;
    float: left;
    margin-left: 15px;
}
#get_button_a {
	 width: 100%;
    float: left;
    font-size: 18px;
    color: #f6f8f8;
    background-color: #252525;
    text-align: center;
    padding: 10px 0px; 
	text-decoration: none;
}

#health_h1 {
    width: 100%;
    float: left;
    font-size: 40px;
    color: #252525;
    font-weight: bold;
	margin-top: 8%;
}
#health_para {
    width: 100%;
    float: left;
    font-size: 16px;
    color: #252525;
    margin: 0px;
}

#img_2 {
    margin-top:30%;
	width: 100%;
	height: 110%;
    margin: 40px 0px 0px 40px;
    box-shadow: 0px 0px 14px 2px #f3f3f3;
    position: relative;
}
#img_3 {
    width: 70%;
	height: 50%;
    position: relative;
	
}
.middle {
    transition: .5s ease;
    opacity: 0;
    position: absolute;
    top: 50%;
    left: 57%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    text-align: center;
}

.main {
    width: 100%;
    margin: 40px 0px 0px 40px;
    box-shadow: 0px 0px 14px 2px #f3f3f3;
    position: relative;
}

#Readmore_a {
   
    width: 100%;
    float: left;
    font-size: 18px;
    color: #ffffff;
    background-color: #1becde;
    padding: 7px 0px;
    text-align: center;
	text-decoration: none;
	margin-top:10%;
	margin-bottom:10%;

}

#knowledge-body {
    width: 100%;
    float: left;
    background-image: url(../images/knowledge-bg.png);
    background-size: 100%;
    height: auto;
    background-repeat: no-repeat;
    padding-top: 180px;
    padding-bottom: 240px;
}
#knowledge_head {
    width: 100%;
    float: left;
    font-size: 40px;
    color: #ffffff;
    font-weight: bold;
}
#knowledge_para {
    width: 100%;
    float: left;
    font-size: 16px;
    color: #ffffff;
    margin: 0px;
}

#play_button {
    width: 200px;
	float: left;
    position: relative;
    z-index: 5;
}

#h_care {
    width: 100%;
    float: left;
    font-size: 40px;
    color: #252525;
    font-weight: bold;
}
#h_para {
    width: 100%;
    float: left;
    font-size: 16px;
    color: #252525;
    margin: 0px;
}
#new_sec
{
	margin-top:40%;
}
#health_head
{
	margin-top:5%;
}

#new_box
{
	margin-top:4%;
}
#box_one {
    width: 100%;
    float: left;
	text-align:center;
    background-color: #252525;
    height: auto;
    border-radius: 15px;
    padding: 40px;
}
#box_two {
    background-color: #1becde;
	width: 100%;
    float: left;
	text-align:center;
        height: auto;
    border-radius: 15px;
    padding: 60px;
}

#box_three
{
	
    width: 100%;
    float: left;
    background-color: #252525;
	text-align:center;
    height: auto;
    border-radius: 15px;
    padding: 55px;

}
#get_code {
    width: 100%;
    margin: 0 auto;
    text-align: center;
}

#get {
       width: 100%;
    float: left;
    font-size: 18px;
    color: #ffffff;
    background-color: #1becde;
    padding: 7px 0px;
    text-align: center;
    margin-top: 10px;
}

#middle_head
{
    width: 100%;
    float: left;
    background-image: url(../images/contact-bg.png);
    background-size: 100%;
    background-repeat: no-repeat;
    padding-bottom: 150px;
}
#content
{
    margin-top:20%;
	width: 100%;
    float: left;
    font-size: 50px;
    color: #030202;
    font-weight: bold;
}
	
	
#icon_frame
{
    width: 100%;
    display: flex;
    padding-top: 20px;
	margin-bottom:9%;
}
#icon_one {
    width: 20%;
    float: left;
}
.obstetrics_text {
    width: 70%;
    float: left;
    font-size: 30px;
    color: #040101;
    font-weight: 500;
}
#form_box {
    width: 100%;
    float: left;
    background-color: #f1fafb;
    height: auto;
    padding: 30px;
}
#appoinment {
    width: 100%;
    float: left;
    font-size: 30px;
    color: #252525;
    text-align: center;
    font-weight: 500;
}
.name_text {
    width: 100%;
    float: left;
    font-size: 18px;
    color: #bebebe;
    background-color: #ffffff;
    padding: 5px 15px;
    border: 0px;
    margin-top: 30px;
}
#massage-button {
    width: 100%;
    float: left;
    color: #bebebe;
    height: 110px;
    font-size: 18px;
    padding: 36px 20px 10px 20px;
    background-color: #ffffff;
    border: 0px;
    margin-top: 30px;
}
#send-button
{
    width: 140px;
    margin: 0 auto;
    text-align: center;
}
#send-button a {
    width: 100%;
    float: left;
    font-size: 18px;
    color: #ffffff;
    background-color: #1becde;
    padding: 7px 0px;
    text-align: center;
    margin-top: 50px;
    text-transform: uppercase;
	text-decoration: none;
}
#People_text {
    width: 100%;
    float: left;
    font-size: 16px;
    color: #444443;
    text-align: center;
    margin: 0px;
	margin-top:17px;
}
#People_taital {
    width: 100%;
    float: left;
    font-size: 40px;
    text-align: center;
    color: #111010;
    font-weight: bold;
	margin-top:70px;
}
#client_photo {
    width: 100%;
    margin: 0 auto;
    text-align: center;
    display: block;
	margin-top:30px;
}
#distracted {
    width: 100%;
    float: left;
    font-size: 40px;
    color: #080808;
    font-weight: bold;
    text-transform: uppercase;
	margin-top:22%;
}

#client_text
{
    width: 100%;
    float: left;
    font-size: 16px;
    color: #444443;
    margin: 0px;
	margin-top:15px;
}
#mark_icon
{
    width: 100%;
    float: left;
    padding-top: 20px;
}
#footer {
	margin-top:5%;
    width: 100%;
    float: left;
    background-color: #252525;
    height: auto;
    padding-bottom: 50px;
	padding-top: 60px;
    box-shadow: 0px 24px 19px -1px #222223;
    position: relative;
}
#footer_logo {
    width: 80%;
    float: left;
    padding: 0px 0px 30px 0px;
}
#contact {
    width: 100%;
    float: left;
    font-size: 24px;
    color: #ffffff;
    padding-bottom: 30px;
	

}
#contact1
{
	width: 100%;
    float: left;
    font-size: 24px;
    color: #ffffff;
    padding-bottom: 20px;
	padding-top: 0px;
	
		
}
#mail-icon
 {
    width: 100%;
    float: left;
    font-size: 16px;
    color: #d6d6d6;
    padding-bottom: 10px;
}
.paddlin_left_a {
    padding-left: 15px;
}
#text_1 {
    width: 90%;
    color: #d6d6d6;
    font-size: 16px;
    margin-left: 0px;
}
#Useful_text {
    width: 50%;
    color: #d6d6d6;
    font-size: 16px;
    margin-left: 0px;
}
#Enter_email {
    width: 100%;
    float: left;
    font-size: 18px;
    color: #ffffff;
    background-color: transparent;
    padding: 7px 10px;
    margin-top: 10px;
    border: 1px solid #cfcfd0;
}

#subscribe_button {
    width: 170px;
    float: left;
    margin-top: 20px;
}


#social_img {
    width: 100%;
    float: left;
}
#social_img ul {
    margin: 0px;
    padding: 0px;
}

#social_img ul li
{
	display:inline;
    float: left;
    padding-right: 10px;
    padding-top: 20px;
	    list-style: none;
		
	
}
#subscribe_button a {
    width: 100%;
    float: left;
    font-size: 18px;
    color: #ffffff;
    background-color: #19e9d9;
    text-align: center;
    padding: 7px 0px;
    text-transform: uppercase;
	text-decoration:none;
}

#copyright {
    width: 100%;
    float: left;
    background-color: #252525;
    height: auto;
}
#copyright_para
{
    width: 100%;
    float: left;
    font-size: 16px;
    margin-left: 0px;
    color: #fff;
    text-align: center;
}
#copyright_para a {
    color: #ffffff;
	text-decoration:none;

}